WindowsFormsApplication1/bin/*

WindowsFormsApplication1/obj/*
*.csproj
*.exe
WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.pdb
*.Cache
WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.csproj.FileListAbsolute.txt
*.pdb
*.exe
WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.csproj.GenerateResource.Cache
*.pdb